


<h1 class="text-center">My Movie List</h1>


  <div class="container" >

    <ul class="list-unstyled">

      <li  class="card card-body mb-3 " *ngFor="let movie of movies"
      [ngClass]="">



        <div class="row">

          <div class="col-sm-4">

            <img [src]="movie.img" alt="" class="img-fluid">

          </div>

          <div class="col-sm-8">

            <h1>Title: {{ movie.title}}</h1>
            <h3>Actor: {{ movie.actors}} </h3>
            <h3>Director: {{ movie.director }}</h3>
            <h3>Year: {{ movie.yearReleased }}</h3>

            <ul class="list-group">
              <li class="list-group-item">Award:   {{movie.awards}}</li>
            </ul>

            <ul class="list-unstyled class= list-group" *ngIf="movie.rating === 'R'">
              <li class="list-group-item">Rating:   {{ showMessage()}}</li>
            </ul>

            <ul class="list-unstyled,class= list-group" *ngIf="movie.rating === 'PG'">
              <li class="list-group-item">Rating:   {{ showPGMessage()}}</li>
            </ul>




          </div>



        </div>


      </li>

    </ul>

  </div>
