<h1>string Interpolation</h1>

<!--string Interpolation
- way to bind our data to the template (html)
from the typescript (logic)

SYNTAX:
{{ EXPRESSION}}
-->
{{"Hello from Earth"}}
{{ (5 * 5) }}

<h3>{{ "Delta Cohort" }}</h3>

<p>{{ 5 * 100 }}</p>


<!--Binding properties with our template using string interpolation-->

<h3>Full Name: {{ firstName }} {{ lastName }}</h3>
<p>Age: {{ age}}</p>

<h3> {{ sayHello() }}</h3>
