<h1 class="text-center">Welcome!</h1>
<h3 class="text-center">This is Angular</h3>

<p>Click a button to view a component</p>

<div class="container">
  <h1>Look at  what I learned </h1>

    <div class="row mt-5">
      <div class="col-6">
          <h3> View my Comments Project </h3>
          <p>A CRUD application using JSON placeholder api</p>
        <button class="btn btn-secondary" routerLink="/comments">Comments Component</button>
      </div>

      <div class="col-6">
        <h3> View my Posts project  </h3>

      </div>

      <div class="col-6">
        <h3> View My Travel Project </h3>

      </div>

      <div class="col-6">
        <h3> View My  Movies </h3>

      </div>



    </div>


</div>







<button class="btn btn-secondary" routerLink="/comments">Comments</button>
<button class="btn btn-secondary" routerLink="/posts">Posts</button>
<button class="btn btn-secondary" routerLink="/travel">Travel</button>
<button class="btn btn-secondary" routerLink="/movies">Movies</button>
