<p>Comments!!</p>

<!--
we need to pass our selectedPost property into the form component
as an Input
*Input is signified by []
*Output is signified by ()
-->


<app-comment-form [currentComment]="currentComment" [isEdit]="isEdit"
  (updatedComment)="onUpdateComment($event)"
  (newComment)="onSubmitComment($event)"></app-comment-form>

<div class="container">

  <div class="row">


    <!--using  *ngFor to loop through the array of posts. what is post? new variable that identifies an individual post like .title and .body>-->
    <div class="card card-body " *ngFor="let comment of comments">

      <h5 class="card-title"> <strong>ID:</strong>{{ comment.id }}</h5>
      <h5 class="card-text"> <strong>Subject:</strong> {{ comment.name }}</h5>
      <h5 class="card-title"> <strong>Content:</strong>{{ comment.email }}</h5>
      <h5 class="card-text"> <strong>Posted by:</strong> {{ comment.body }}</h5>

      <button
        (click)="editComment(comment)" class="btn btn-light">
        <i class="fa fa-pencil">Edit</i>
      </button>

      <button
        (click)="removeComment(comment)" class="btn btn-light bg-danger">
        <i class="fa fa-remove">Delete</i>
      </button>

    </div>

  </div>

</div>
