<p>comment-form works!</p>

<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="currentComment.name" name="name" #name>
      <label>Body</label>
      <input type="text" class="form-control" [(ngModel)]="currentComment.body" name="body" #body>
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="currentComment.email" name="email" #email>


      <!-- to tell the program blank -->
      <input type="hidden" [(ngModel)]="currentComment.id" name="id">
    </div>
    <button
      *ngIf="!isEdit"
      (click)="addComment(name.value, body.value, email.value)"
      class="btn btn-success btn-block">Submit Post</button>

    <button
      *ngIf="isEdit"
      (click)="updateComment()"
      class="btn btn-danger btn-block">Update Comment</button>



  </form>
</div>
