<h1>Athlete Component</h1>

<!--<h3> {{ athlete.name }}</h3>-->

<!--use- structural directives
*ngFor, *ngIF, *ngSwitch
These are basically an attribute inside an element-->
<!--<h3>Athlete Name</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{ a.name }}-->
<!--  </li>-->
<!--</ul>-->

<!--*ngFor Breakdown
"let" = defines the variable
a = the name of our variable
athletes = pertains to the `this.athlete` array from our ts
 a.name = calling the name property of each object-->

<!--use *ngFor to loop the array of this.athletes
and retrieve the team names of each object  -->
<!--<h3>Athlete Teams</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let a of athletes">-->
<!--    {{ a.team }}-->
<!--  </li>-->
<!--</ul>-->

  <ul>
    <li *ngFor="let a of athletes">
      <h3>{{ a.name }}</h3>
      <ul>
        <li>Team: {{ a.team}}</li>
        <li>Jersey No: {{ a.jerseyNo}}</li>
      </ul>
      <ul *ngIf="a.stillPlaying === true">
        <li>{{ showStatus()}}</li>
      </ul>
      <ul *ngIf="a.stillPlaying !== true">
        <li>This athlete is retired</li>
      </ul>


    </li>
  </ul>
