

<ul *ngIf="loadingMembers">
  <li *ngFor="let m of members">
    <h2>{{ m.firstName}} {{ m.lastName }}</h2>
    <p>{{ m.userName }}</p>
    <p>{{ m.memberNo }}</p>
  </li>
</ul>

<p *ngIf="!loadingMembers">Loading VIP Members</p>

<div *ngIf="loadingMembers">
<ul>
  <li *ngIf="members.length">
    <h3>There are {{ members.length }} members in the VIP</h3>
  </li>
</ul>
</div>
<!--for only 1 in member in the array-->
<!--<div *ngIf="members.length === 1">-->
<!--  <h3> There is {{ members.length }} member in the VIP</h3>-->
<!--</div>-->
