

<h1>Posts Get Request</h1>
<!--
we need to pass our selectedPost property into the form component
as an Input
*Input is signified by []
*Output is signified by ()
-->




<app-post-form [currentPost]="selectedPost" [isEditing]="postEdit"
               (updatedPost)="onUpdatedPost($event)"
               (newPost)="onSubmitPost($event)"></app-post-form>


<div class="container">

  <div class="row">


    <!--using  *ngFor to loop through the array of posts. what is post? new variable that identifies an individual post like .title and .body>-->
    <div class="card card-body col-12" *ngFor="let post of posts">

      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text"> {{ post.body }}</p>
      <hr>
      <button (click)="editPost(post)" class="btn btn-light">
        <i class="fa fa-pencil"></i></button>

      <button (click)="removePost(post)" class="btn btn-danger btn-sm">
        <i class="fa fa-remove"></i></button>

    </div>

  </div>

</div>
