<h1>Even Component</h1>


<!--  a button that connects with the toggleForm-->
<!--<button class="btn btn-success">Add character</button>-->

<!--  click event set it to toggleForm method. when we click it runs toggle form. Create form next-->
<button (click)="toggleForm()" class="btn btn-success">Add character</button>
<!--mouse events. triggerEvent has one parameter. Angular uses $(identifier) by default to at "event" parameter.-->
<button (click)="triggerEvent($event)">Click Event</button>
<button (mouseover)="triggerEvent($event)">MouseOver Event</button>
<button (mouseout)="triggerEvent($event)">MouseOut Event</button>
<button (mousedown)="triggerEvent($event)">MouseDown Event</button>
<button (mouseup)="triggerEvent($event)">MouseUp Event</button>
<button (dblclick)="triggerEvent($event)">DoubleClick Event</button>

<!--  syntax for event binding: (typeOfEvent)= "expression" our trigger method-->



<!--  create a form. Note: *ngIF makes the form not show. We want user to click button, then show form-->
<div class="card card-body" *ngIf="showForm">
  <form>
    <div class="form-group">

<!--        most common keyboard events. You normally use diffrent methods for each typeof Event-->
      <input (keydown)="triggerEvent($event)" type="text" class="form-control">
      <input (keyup)="triggerEvent($event)" type="text" class="form-control">
      <input (keypress)="triggerEvent($event)" type="text" class="form-control">
      <input (focus)="triggerEvent($event)" type="text" class="form-control">
      <input (blur)="triggerEvent($event)" type="text" class="form-control">

      <label>First Name</label>
      <input type="text" class="form-control">

      <label>Last Name</label>
      <input type="text" class="form-control">

    </div>
  </form>
</div>

