<h1 class="text-center">Binding Component</h1>


<div class="container">
  <button [disabled]="enableAddCharacter"   class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>


<!-- form to add new character>-->
  <!-- added this from the binding component Monday, March 29th>-->

    <!--  form to add a new character -->
    <div class="card card-body">

      <form #characterForm="ngForm" (ngSubmit)="onSubmit(characterForm)">
        <!-- ngForm= directive, special identifier is #characterForm
        <!The variable 'characterForm' in our template will point to our
        INSTANCE of the ngForm directive.
        This is one of the things the ngForm directive does>-->
        <div class="form-group">
          <label>Persona</label>
          <input
            type="text"
            class="form-control"
            name="persona"
            [(ngModel)]="character.persona"
          [ngClass]="{'is-invalid': characterPersona.errors && characterPersona.touched}"
            #characterPersona= "ngModel"
            required
            minlength="3"
          >
          <!--created  a special input #characterPersona = ngModel
          (shortcut for characterForm.persona)
          ngClass = is -invalid (name of our class)
          .errors = if there's any errors in the input
          .touched = if the user clicked on the input, it activates it>-->

          <div [hidden]="!characterPersona.errors?.required" class="invalid-feedback">
            Persona Name
          </div>
          <div [hidden]="!characterPersona.errors?.minlength" class="invalid-feedback">
            Must be at least 3 characters
          </div>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            [(ngModel)]="character.firstName"
            [ngClass]="{'is-invalid': characterFirstName.errors && characterFirstName.touched}"
              #characterFirstName="ngModel"
              required
              minlength="2"
              >
          <div [hidden]="!characterFirstName.errors?.required" class="invalid-feedback">
            First Name Required
          </div>
          <div [hidden]="!characterFirstName.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
          </div>

        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="character.lastName">
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="number" class="form-control" name="age" [(ngModel)]="character.age">
        </div>
        <div class="form-group">
          <label>Address Street</label>
          <input type="text" class="form-control" name="address.street" [(ngModel)]="character.address.street">
          <label>City</label>
          <input type="text" class="form-control" name="city" [(ngModel)]="character.address.city">
          <label>State</label>
          <input type="text" class="form-control" name="state" [(ngModel)]="character.address.state">
        </div>
        <button
          [disabled]="!characterForm.form.valid"
          class="btn btn-dark">Add Character
        </button>
        <!--updated button:
         Saying if Not characterForm.form.valid ?
         disable the button
         must add a valid persona and first name for button to get to activate>-->
      </form>
    </div>
    <!--  end of form-->


  <!-- ngClass = allows us to bind one or more css classes to any element-->


  <ul class="list-unstyled">
    <li class="card card-body mb-3" *ngFor="let character of characters">
      <!--          <li class="card card-body mb-3"></li>-->



      <div class="row">

        <div class="col-sm-4">
          <!--          binding an img-->
          <img [src]="character.img" alt="" class="img-fluid">


        </div>


      </div>


      <div class="col-sm-8">
        <h1 [ngStyle]="currentStyle">
          {{ character.persona}}
          <!--         Event binding example.
                        After creating  button with class, add click event. Next to button on the right, type (click to let angular find event for us.
                       the "?" is a ternary operator. it's another way of adding an if statement. The " : " acts as an else.
                       From ES6 lesson we learned about Arrow functions and ternary operator.
                       Go to font awesome to style button-->

          <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">
            <i [ngClass]="character.hide ? 'fa fa-minus' : 'fa fa-plus-circle'"></i>
          </button>


        </h1>
        <h3 [ngStyle]="currentStyle">{{ character.firstName}} {{ character.lastName }}</h3>
        <ul *ngIf="character.hide" class="list-group">
          <li class="list-group-item">Age: {{ character.age }} </li>
          <li class="list-group-item">Address: {{ character.address.street }} {{ character.address.city }} {{ character.address.state}}</li>

          <!--                using Angular Pipes-->
          <li *ngIf="character.balance" class="list-group-item">Balance: {{ character.balance | currency:"USD" }}</li>
          <li class="list-group-item">Member Since: {{ character.memberSince | date }}</li>



        </ul>

      </div>


    </li>


  </ul>
</div>
