<h1 class="text-center">Binding Component</h1>


<div class="container">
    <button [disabled]="enableAddCharacter"   class="btn btn-block mb-3" [ngClass]="currentClasses">Add New Person</button>



<!-- ngClass = allows us to bind one or more css classes to any element-->


    <ul class="list-unstyled">
        <li class="card card-body mb-3" *ngFor="let character of characters">
<!--          <li class="card card-body mb-3"></li>-->



        <div class="row">

            <div class="col-sm-4">
<!--          binding an img-->
              <img [src]="character.img" alt="" class="img-fluid">
              <h1>Hello</h1>

            </div>


        </div>


          <div class="col-sm-8">
            <h1 [ngStyle]="currentStyle">
              {{ character.persona}}
<!--         Event binding example.
              After creating  button with class, add click event. Next to button on the right, type (click to let angular find event for us.
             the "?" is a ternary operator. it's another way of adding an if statement. The " : " acts as an else.
             From ES6 lesson we learned about Arrow functions and ternary operator.
             Go to font awesome to style button-->

              <button (click)="toggleInfo(character)" class="btn btn-outline-dark btn-sm ml-3">
              <i [ngClass]="character.hide ? 'fa fa-minus' : 'fa fa-plus-circle'"></i>
              </button>


            </h1>
            <h3 [ngStyle]="currentStyle">{{ character.firstName}} {{ character.lastName }}</h3>
            <ul *ngIf="character.hide" class="list-group">
              <li class="list-group-item">Age: {{ character.age }} </li>
              <li class="list-group-item">Address: {{ character.address.street }} {{ character.address.city }} {{ character.address.state}}</li>

<!--                using Angular Pipes-->
             <li *ngIf="character.balance" class="list-group-item">Balance: {{ character.balance | currency:"USD" }}</li>
              <li class="list-group-item">Member Since: {{ character.memberSince | date }}</li>
<!--              <li class="list-group-item">Member Since: {{ character.memberSince | date:"yyyy" }}</li>-->
<!--              <li class="list-group-item">Member Since: {{ character.memberSince | date:"MM/dd/yyyy" }}</li>-->
<!--              <li class="list-group-item">Member Since: {{ character.memberSince | date:"shortDate" }}</li>-->

<!--              Note ngNonBinding makes an element disabled to binding data-->
              <li ngNonBindable class="list-group-item">{{ character.persona}}</li>


            </ul>

          </div>


          </li>


        </ul>
</div>


