<!--<h1>hello from angular</h1>-->
<!--<p>delta cohort</p>-->

<!--//after updating the app. module.ts file by
importing and declaring UserComponent, GrapeComponent
add selector to this app.component.html-->
<!--//we need a selector-->
<!--where is this from? from selector in the user.components.ts @Component-->
<!--'sector': 'app-user'-->
<!--<app-user></app-user>-->
<!--<app-fruit></app-fruit>-->
<!--<app-hello></app-hello>-->
<!--<app-travel></app-travel>-->
<!--<app-delta></app-delta>-->
<!--<app-weather></app-weather>-->
<!--<app-math></app-math>-->
<!--<app-string-interpolation></app-string-interpolation>-->
<!--<app-structural-directives></app-structural-directives>-->
<!--<app-directives></app-directives>-->
<!--<app-vip></app-vip>-->
<!--<app-binding></app-binding>-->
<!--<app-movies></app-movies>-->
<!--<app-events></app-events>-->
<!--<app-ngmodel></app-ngmodel>-->
<!--<app-forms></app-forms>-->
<!--<app-post-http-client></app-post-http-client>-->
<!--<app-statements></app-statements>-->
<!--<app-comments></app-comments>-->
<app-navbar></app-navbar>
<!--use for routing>-->
<router-outlet></router-outlet>

