<p>statements works!</p>

<div class="container">

  <div class="row">

    <div class="card card-body" *ngFor="let statement of statements">

      <h5 class="card-text">{{ statement.id }}</h5>
      <h5 class="card-text">{{ statement.name }}</h5>
      <h5 class="card-text">{{ statement.email }}</h5>
      <h5 class="card-text">{{ statement.body }}</h5>


    </div>

  </div>



</div>
