<h1>Math Results</h1>

  <ul>
    <li>
      <h3> The Sum: {{ this.sum() }}</h3>
    </li>
  </ul>

  <ul>
    <li >
      <h3> The Difference: {{ this.difference() }}</h3>
    </li>
  </ul>

  <ul>
    <li >
      <h3> The product: {{ this.product() }}</h3>
    </li>
  </ul>

  <ul>
    <li >
      <h3>The quotient: {{ this.quotient() }}</h3>
    </li>
  </ul>

<!--  <ul>-->
<!--    <li *ngFor="let a for fizzbuzz()">-->
<!--      {{ a.fizzbuzz()}}-->
<!--    </li>-->
<!--  </ul>-->
